<div class="container">
    <% if(result == 1){ %>
        <div class="alert alert-success" role="alert">
            Thêm rạp thành công.
        </div>
        <% } else if(result == -1){ %>
            <div class="alert alert-success" role="alert">
                Thêm rạp thất bại.
            </div>
            <% } else if(result == 2){ %>
                <div class="alert alert-success" role="alert">
                    Xóa rạp thành công.
                </div>
                <% } else if(result == -2){ %>
                    <div class="alert alert-success" role="alert">
                        Xóa rạp thất bại.
                    </div>
                    <% } %>
                        <div class="section-head">
                            <h2 class="section-title text-uppercase">Quản lý rạp của cụm rạp
                                <%= nameCinemas %>
                            </h2>
                        </div>
                        <div class="table-responsive table-purchases">
                            <table class="table table-hover table-striped margin-bottom-10">
                                <thead style="background-color: black; color: white;">
                                    <tr>
                                        <th>Tên rạp</th>
                                        <th>Số hàng ghế</th>
                                        <th>Số cột ghế</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-warning">
                                        <td colspan="5" align="center">
                                            <a href="/admin/addCinema?idCinemas=<%= idCinemas %>">
                                                <i style="font-weight: bold; color:white;" class="fa fa-plus-circle">Add new</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% listCinema.forEach(cinema => { %>
                                        <tr>
                                            <td>
                                                <%= cinema.name %>
                                            </td>
                                            <td>
                                                <%= cinema.horizontalSize %>
                                            </td>
                                            <td>
                                                <%= cinema.verticalSize %>
                                            </td>
                                            <td>
                                                <a href="/admin/deleteCinema?idCinema=<%= cinema.id %>&idCinemas=<%= idCinemas %>">
                                                    <i class="fa fa-plus-circle">Xóa</i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
</div>