<style>
    .bg-infoo{
        background-color: orange;
        color: white;
        font-weight: 100px;
    }
    .btn1{
        border: 1px solid orange;
    }
</style>
<div class="container">
    <div class="p-3 mb-2 bg-infoo ">
        <p class="text-center fs-4">SCREEN</p>
    </div>
    <form action="/booking?idCinema=<%= idCinema %>&idMovie=<%= idMovie %>&idShowtime=<%= idShowtime %>" method="post">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <% for (var z = 1; z <= ngang; z++) { %>
                        <th scope="col">
                            <%= z; %>
                        </th>
                        <% }; %>
                </tr>
            </thead>
            <tbody>
                <% for (var x = 1; x <= doc; x++) { %>
                    <tr>
                        <% var temp = String.fromCharCode(64 + x); %>
                            <td>
                                <%= temp; %>
                            </td>
                            <% for (var y = 1; y <= ngang; y++) { %>
                                <td>
                                    <input style="display: none;" class="btn-check" type="checkbox" name="seat[]" id="checkSeat<%= temp + '' + y; %>" autocomplete="off" value="<%= temp + '' + y; %>">
                                    <!-- <%= temp + '' + y; %> -->
                                    <label class="btn btn1" for="checkSeat<%= temp + '' + y; %>"><%= temp + '' + y; %></label><br>
                                </td>
                                <% }; %>
                    </tr>
                    <% }; %>
            </tbody>
        </table>
        <button type="submit" class="btn btn1">Submit</button>
    </form>
</div>