<% if(action === "Movie"){ %>
    <section class="section-long">
        <div class="container">
            <div class="section-head">
                <h2 class="section-title text-uppercase">Kết quả tìm kiếm theo phim</h2>
            </div>
            <% listResult.forEach(movie=>{ %>
                <article class="movie-line-entity">
                    <div class="entity-poster" data-role="hover-wrap">
                        <div class="embed-responsive embed-responsive-poster">
                            <img class="embed-responsive-item" src="/img/1.jpg" alt="" />
                        </div>
                        <div class="d-over bg-theme-lighted collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                            <div class="entity-play">
                                <a class="action-icon-theme action-icon-bordered rounded-circle" href="https://www.youtube.com/watch?v=q-4n-GISMrs" data-magnific-popup="iframe">
                                    <span class="icon-content"><i class="fas fa-play"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="entity-content">
                        <h4 class="entity-title">
                            <a class="content-link" href="movie-info-sidebar-right.html">
                                <%- movie.name; %>
                        </h4>
                        <div class="entity-category">
                            <a class="content-link" href="movies-blocks.html">crime</a>,
                            <a class="content-link" href="movies-blocks.html">comedy</a>
                        </div>
                        <p class="text-short entity-text">Aenean molestie turpis eu aliquam bibendum. Nulla facilisi. Vestibulum quis risus in lorem suscipit tempor. Morbi consectetur enim vitae justo finibus consectetur. Mauris volutpat nunc dui, quis condimentum dolor efficitur et.
                            Phasellus rhoncus porta nunc eu fermentum. Nullam vitae erat hendrerit, tempor arcu eget, eleifend tortor.
                        </p>
                    </div>
                </article>
                <% })  %>
        </div>
    </section>
    <% } if(action === "Cinema"){ %>
        <section class="section-long">
            <div class="container">
                <div class="section-head">
                    <h2 class="section-title text-uppercase">Kết quả tìm kiếm theo rạp</h2>
                </div>
                <% listResult.forEach(cinema=>{ %>
                    <article class="movie-line-entity">
                        <div class="entity-content">
                            <h4 class="entity-title">
                                <a class="content-link" href="/showtime?idCinema=<%= cinema.id %>">
                                    <%- cinema.name; %>
                            </h4>
                            <p class="text-short entity-text">Thuộc cụm rạp
                                <% listCinemas.forEach(cinemas=>{ 
                                    if (cinemas.id === cinema.idCinemas){%>
                                    <%= cinemas.name %>. Địa chỉ:
                                        <%= cinemas.address %>
                                            <% }}) %>
                            </p>
                        </div>
                    </article>
                    <% })  %>
            </div>
        </section>
        <% } if(action === "Cinemas"){ %>
            <section class="section-long">
                <div class="container">
                    <div class="section-head">
                        <h2 class="section-title text-uppercase">Kết quả tìm kiếm theo cụm rạp</h2>
                    </div>
                    <% listResult.forEach(cinemas=>{ %>
                        <article class="movie-line-entity">
                            <div class="entity-content">
                                <h4 class="entity-title">
                                    <a class="content-link" href="movie-info-sidebar-right.html">
                                        <%- cinemas.name; %>
                                </h4>
                                <p class="text-short entity-text">
                                    <%= cinemas.address %>
                                </p>
                            </div>
                        </article>
                        <% })  %>
                </div>
            </section>
            <% } %>