<section class="section-long">
    <div class="container">
        <div class="section-head">
            <h2 class="section-title text-uppercase">Xuất chiếu</h2>
            <!-- <p class="section-text">Dates: 13 - 15 february 2019</p> -->
        </div>
        <% listCinema.forEach(cinema => { 
            list.forEach(showtime => {
                if (cinema.id === showtime.idCinema){ %>
            <article class="movie-line-entity">
                <!-- 1 -->
                <div class="entity-content">
                    <h4 class="entity-title">
                        <a class="content-link" href="/showtime?idCinema=<%= cinema.id %>">
                            <%- cinema.name; %>
                    </h4>
                    <p class="text-short entity-text">Thuộc cụm rạp
                        <% listCinemas.forEach(cinemas=>{ 
                            if (cinemas.id === cinema.idCinemas){%>
                            <%= cinemas.name %>. Địa chỉ:
                                <%= cinemas.address %>
                                    <% }}) %>
                    </p>
                </div>
                <!-- 1 -->
                <div class="entity-extra">
                    <div class="text-uppercase entity-extra-title">Showtime</div>
                    <div class="entity-showtime">
                        <div class="showtime-wrap">
                            <% showtime.start.forEach(start=>{ %>
                                <div class="showtime-item">
                                    <a class="btn-time btn" aria-disabled="false" href="/booking?idShowtime=<%= start.id %>&idMovie=<%= showtime.idMovie %>&idCinema=<%= showtime.idCinema %>">
                                        <%= start.begin %>
                                    </a>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </article>
            <% }})})  %>
    </div>
</section>